#### Preliminaries

In [3]:
import sys
import os
import numpy as np
import pandas as pd
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
sys.path.append(os.path.dirname(os.getcwd()))
from Technical_Indicators.Mean_Reversion.data_prep import fetch_data, time_series_features, add_lag_features, apply_jcandle, simple_moving_average
import pandas_ta as ta

#### Fetch Data

In [2]:
xom_df = fetch_data('XOM', '2000-01-01', '2023-12-31')

#### Data Prep

In [13]:
xom_df['MA30_shifted'] = simple_moving_average(xom_df, 30).shift(1)

In [14]:
xom_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,MA30,MA30_shifted
Date,,,,,,,,,
2000-01-03 00:00:00-05:00,18.309310,18.597192,17.935063,18.035822,13458200,0.0,0.0,NaN,NaN
2000-01-04 00:00:00-05:00,17.819906,18.007029,17.618389,17.690359,14510800,0.0,0.0,NaN,NaN
2000-01-05 00:00:00-05:00,17.963854,18.827501,17.920672,18.654772,17485000,0.0,0.0,NaN,NaN
2000-01-06 00:00:00-05:00,18.568401,19.763112,18.467642,19.619171,19461600,0.0,0.0,NaN,NaN
2000-01-07 00:00:00-05:00,19.791894,19.863864,19.345677,19.561588,16603800,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2023-12-22 00:00:00-05:00,99.748148,100.362377,99.270419,99.358170,12921800,0.0,0.0,99.583274,99.583274
2023-12-26 00:00:00-05:00,100.167372,100.450111,99.562902,99.582397,16835100,0.0,0.0,99.579471,99.579471
2023-12-27 00:00:00-05:00,99.484900,99.982132,98.802424,99.114418,14558800,0.0,0.0,99.557701,99.557701
2023-12-28 00:00:00-05:00,98.851177,99.065670,97.622726,97.681229,16329300,0.0,0.0,99.485229,99.485229
2023-12-29 00:00:00-05:00,97.856720,98.071205,97.125500,97.476486,17741400,0.0,0.0,99.351984,99.351984